<!-- Modal used in order to edit a book -->
<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modifier ou supprimer un livre </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 text-center">
						{% include "livres/liv_form.html.twig" %}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="input-field col s12 m12 l12">
					<input type="submit" name="" value="Modifier" class="btn btn-primary">
				</div>
				<form method="post" action="{{ path('liv_del', {'livres': livres.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?');">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livres.id) }}">
					<button class="btn">Supprimer</button>
				</form>
			</div>
		</div>
	</div>
</div>
